version: '3.8'

services:
  portfolio:
    build: .
    ports:
      - "3000:3000"
    container_name: marina-portfolio-app
    restart: unless-stopped
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
